.header1 {
  background: grey;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-image: url("./background-image/bright-squares.png");
}
