#nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-bar i {
  color: rgb(12, 107, 210);
}

h2 {
  color: black;
  margin-bottom: 1%;
}

.logo {
  color: #000000;
  background-color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 50px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
}
