.container {
  background-color: inherit;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

textarea {
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 0.9em;
}

textarea:focus {
  outline: none;
}

.new-tweet {
  width: 90%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  background-color: rgb(12, 107, 210);
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  color: rgb(0, 0, 0);
}
