.container {
  background-color: inherit;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-weight: 600;
  font-size: 0.9em;
}

.new-tweet {
  width: 85%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
}
